.pills {
  line-height: 16px;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid #72bdff;
  border-radius: 50px;
  padding: 4px 8px;
  color: #72bdff;
  width: fit-content;
}

.pills.active {
  background-color: #72bdff;
  color: white;
}
.pills.pop {
  border: #1b66a7;
  background-color: #1b66a7;
  color: white;
}
